#chat-screen {
  background-color: #abc1d1;
  height: 200vh;
}

#chat-screen .alt-screen-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
  z-index: 1;
}

#chat-screen .status-bar {
  background-color: #abc1d1;
  z-index: 2;
}

@keyframes fadeIn {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
  animation: fadeIn 0.5s linear;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 8px 15px;
  border-radius: 25px;
  font-size: 13px;
  margin-bottom: 18px;
}

.message-row {
  width: 100%;
  display: flex;
  margin: 8px 0px;
}

.message-row img {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  margin-right: 8px;
}

.message__author {
  opacity: 0.9;
  font-size: 13px;
  display: block;
  margin-bottom: 8px;
}

.message__text {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 9px;
  border-radius: 11px;
  border-top-left-radius: 0px;
  margin-right: 7px;
}
.message__time {
  font-size: 11px;
  opacity: 0.8;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 11px;
  margin-right: 0px;
  margin-left: 7px;
}

.message-row--own .message__text {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  box-sizing: border-box;
}

.reply i {
  opacity: 0.5;
}

.reply .reply__column:first-child {
  width: 8%;
}

.reply .reply__column:last-child {
  width: 92%;
  position: relative;
}
.reply input {
  padding: 9px;
  padding-right: 0px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -6px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 10px;
}

.reply__column:last-child button {
  background-color: var(--yellow);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.reply__column button i {
  opacity: 1;
}
