#chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}

#chat-screen .alt-screen-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  background-color: #abc1d1;
}

.main-chat {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 8px 15px;
  border-radius: 25px;
  font-size: 13px;
  margin-bottom: 18px;
}

.message-row {
  width: 100%;
  display: flex;
  margin: 8px 0px;
}

.message-row img {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  margin-right: 8px;
}

.message__author {
  opacity: 0.9;
  font-size: 13px;
  display: block;
  margin-bottom: 8px;
}

.message__text {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 9px;
  border-radius: 11px;
  border-top-left-radius: 0px;
  margin-right: 7px;
}
.message__time {
  font-size: 11px;
  opacity: 0.8;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 11px;
  margin-right: 0px;
  margin-left: 7px;
}

.message-row--own .message__text {
  flex-direction: row-reverse;
}
