.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
}
.status-bar__column:first-child span {
  margin-right: 3px;
}

.status-bar__column:last-child * {
  margin-left: 3px;
}
